.info-container {
    padding: 6em 2em 6em 2em;
    background-color: #eeebec;
}

.info-title {
    margin-bottom: 2em;
    margin-left: 3em;
    font-size: 28px;
    font-family: "Dancing Script", sans-serif;
    color: #96918d;
    text-decoration: underline;
    text-shadow: 0 0 black;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-html5 {
    color: #bdb9b7;
    text-shadow: 0 0 black;
}

.fa-css3-alt {
    color: #bdb9b7;
    text-shadow: 0 0 black;
}

.fa-react {
    color: #bdb9b7;
    text-shadow: 0 0 black;
}

.fa-js {
    color: #bdb9b7;
    text-shadow: 0 0 black;
}

.fa-node {
    color: #bdb9b7;
    text-shadow: 0 0 black;
}

.fa-bootstrap {
    color: #bdb9b7;
    text-shadow: 0 0 black;
}

.fa-sass {
    color: #bdb9b7;
    text-shadow: 0 0 black;
}

#github {
    color: #bdb9b7;
    text-shadow: 0 0 black;
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
    html {
        scroll-behavior: smooth;
    }
    * {
        padding: 0%;
        border: 0px;
        margin: 0%;
    }
    .info-container {
        padding: 0%;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 1em;
        row-gap: 1em;
        margin: 1em;
    }
    .info-title {
        margin-left: 0%;
    }
    .fa-html5 {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-css3-alt {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-react {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-js {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-node {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-bootstrap {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-sass {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    #github {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
}

@media only screen and (min-width: 414px) and (max-width: 1024px) {
    * {
        padding: 0%;
        border: 0px;
        margin: 0%;
    }
    .info-container {
        padding: 0%;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        column-gap: 1em;
        row-gap: 1em;
        margin: 1em;
    }
    .info-title {
        margin-left: 0%;
    }
    .fa-html5 {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-css3-alt {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-react {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-js {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-node {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-bootstrap {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    .fa-sass {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
    #github {
        font-size: 7em;
        display: flex;
        justify-self: center;
    }
}