.info-container {
    padding: 6em 2em 6em 2em;
    background-color: #eeebec;
    /* max-width: 1200px; */
}

.info-title {
    margin-bottom: 2em;
    margin-left: 3em;
    font-size: 28px;
    font-family: "Dancing Script", sans-serif;
    color: #96918d;
    text-decoration: underline;
    text-shadow: 0 0 black;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}