.about-container {
    display: flex;
    background-color: #eeebec;
    padding: 6em 2em 6em 2em;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px;
}

.title {
    margin-bottom: 30px;
    font-size: 28px;
    font-family: "Dancing Script", sans-serif;
    color: #96918d;
    text-decoration: underline;
    text-shadow: 0 0 black;
}

.text {
    line-height: 1.5;
    text-align: left;
    font-family: "Catamaran", sans-serif;
    font-size: 15px;
    color: #bdb9b7;
}

.about-img {
    height: 600px;
    display: flex;
    align-self: center;
}

@media only screen and (min-width: 320px) and (max-width: 549px) {
    html {
        scroll-behavior: smooth;
    }
    * {
        padding: 0%;
        border: 0px;
        margin: 0%;
    }
    .about-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 2em;
    }
    .about-desc {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .about-img {
        height: 500px;
    }
    .about-img img {
        min-width: 300px;
        max-width: 320px;
        margin-left: 4px;
        margin-right: 4px;
        object-fit: contain;
    }
    .title {
        text-align: center;
    }
    .text {
        margin: 1em;
        text-align: center;
    }
}


/* ipad */

@media only screen and (min-width: 550px) and (max-width: 1024px) {
    * {
        padding: 0%;
        border: 0px;
        margin: 0%;
    }
    .about-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 2em;
    }
    .about-desc {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .about-img {
        height: 500px;
    }
    .about-img img {
        min-width: 300px;
        max-width: 320px;
        margin-left: 4px;
        margin-right: 4px;
        object-fit: contain;
    }
    .title {
        text-align: center;
    }
    .text {
        margin: 1em;
        text-align: center;
    }
}