.about-container {
    display: flex;
    background-color: #c8c7d3;
    /* height: 100vh; */
    padding: 100px 0 100px 0;
}

.about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px;
}

.title {
    margin-bottom: 30px;
    font-size: 28px;
    font-family: "Dancing Script", sans-serif;
    color: #7484bf;
}

.text {
    line-height: 1.5;
    text-align: justify;
}

.about-img {
    /* max-height: 60vh;
    object-fit: cover; */
    width: 45%;
    display: flex;
    align-self: center;
}