.about-container {
    display: flex;
    background-color: #c8c7d3;
    padding: 6em 2em 6em 2em;
    /* height: 70vh; */
    /* padding: 100px 0 100px 0; */
    /* justify-content: space-around; */
    flex-direction: row;
    align-items: center;
}

.about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px;
}

.title {
    margin-bottom: 30px;
    font-size: 28px;
    font-family: "Dancing Script", sans-serif;
    color: #7484bf;
}

.text {
    line-height: 1.5;
    text-align: justify;
    /* font-size: 15px; */
}

.about-img {
    /* max-height: 60vh;
 
    /* width: 35%; */
    height: 600px;
    display: flex;
    align-self: center;
    object-fit: cover;
}