.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding-left: 50px;
    z-index: 1;
    display: none;
}

.scrolling {
    background-color: #bba08d;
    transition: all 0.5s ease;
    border-bottom: #8c8064 solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scrolling ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scrolling li {
    display: inline-block;
    box-sizing: border-box;
    justify-content: space-around;
}

#iconoMenu,
#iconoClose {
    display: none;
    position: relative;
}

.menu-hamburguesa ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    height: 80px;
    line-height: 80px;
    color: #8c8064;
    cursor: pointer;
    text-decoration: none;
    font-family: "Lobster", sans-serif;
    font-size: 20px;
}

.link:hover {
    text-decoration: underline;
}


/*VersionMobile*/

@media only screen and (min-width: 320px) and (max-width: 414px) {
    html {
        scroll-behavior: smooth;
    }
    * {
        padding: 0%;
        border: 0px;
        margin: 0%;
    }
    .navbar {
        max-width: 414px;
        min-width: 320px;
    }
    .scrolling ul li {
        display: block;
        border-top: 1px solid #333333;
        padding: 13px;
    }
    .scrolling ul {
        display: none;
        flex-direction: column;
        position: absolute;
    }
    #iconoMenu {
        font-style: normal;
        font-size: 1.2em;
        margin-top: 1em;
        right: 5%;
        display: inline-block;
        position: absolute;
        color: #8c8064;
    }
    .visible~.lista {
        display: block;
        background: #bba08d;
        width: 100%;
        right: 0;
    }
    .visible~#iconoClose {
        display: inline-block;
        position: absolute;
        z-index: 1;
        color: #8c8064;
    }
    .close {
        position: relative;
        font-style: normal;
        font-size: 1.2em;
        right: 5%;
        margin-top: 1em;
    }
    /*Estilo Lista desplegable*/
    .scrolling ul li a {
        color: #8c8064;
        cursor: pointer;
        text-decoration: none;
        font-family: "Lobster", sans-serif;
        font-size: 20px;
    }
}