.navbar {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 80px;
    padding-left: 50px;
    font-size: 20px;
    z-index: 1;
}

.scrolling {
    background-color: #bba08d;
    transition: all 0.5s ease;
    border-bottom: #8c8064 solid 2px;
}

.navbar-logo {
    height: 80px;
    line-height: 80px;
    color: #8c8064;
    cursor: pointer;
}