.container-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 3%;
    margin: 2em;
}

.carousel-cointainer {
    /* display: flex;
    vertical-align: center;
    align-items: center; */
    background-color: #eeebec;
    padding: 30px 0 30px 0;
    margin-bottom: 60vh;
}

.carousel-title {
    /* width: 20%; */
    margin-bottom: 3em;
    margin-left: 7em;
}

.title-carousel {
    text-decoration: underline;
    font-size: 28px;
    font-family: "Dancing Script", sans-serif;
    color: #96918d;
    margin-right: 2em;
    text-shadow: 0 0 black;
}

.slides-container {
    /* height: 80%;
    border-radius: 10px; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.slides-container>img {
    min-height: 100%;
    max-width: 100%;
    /* object-fit: contain; */
    transition: all 0.2s ease-in-out;
    /* height: 100%; */
}

.slides-container:hover>.slide-desc {
    display: block;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-top: 2em;
}

.slide-desc {
    display: none;
}

.slide-text {
    font-family: "Catamaran", sans-serif;
    text-align: left;
    color: white;
    display: block;
    font-size: 20px;
    margin-left: 1em;
    margin-right: 1em;
    padding: 40px 0 20px 10px;
}

.slide-title {
    font-family: "Alfa Slab One", sans-serif;
    text-align: left;
    margin-left: 1em;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.link1 {
    margin-left: 1em;
    margin-top: 1em;
    color: white;
    border-radius: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
    html {
        scroll-behavior: smooth;
    }
    * {
        padding: 0%;
        border: 0px;
        margin: 0%;
    }
    .container-images {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2%;
        margin: 2em;
    }
    .slide-text {
        font-size: 15px;
        padding: 0px 0 20px 10px;
    }
    .slide-title {
        font-size: 25px;
    }
}